
<div class="text-center">
    <h1 class="display-4 font-weight-light">Admin Panel</h1>
    <div class="row">
        <div class="col-md-3">
            <a class="text-dark" asp-area="" asp-controller="Manage" asp-action="ManageRole">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title font-weight-light">Role Editor</h5>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>