@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col-5">
            <h5 class="font-weight-light text-center ">Myself</h5>
            <p class="text-justify">I am studying for a bachelor's degree in computer science. Interested in backend technologies, cloud services and .Net. Currently, I am looking for an internship.</p>
        </div>
        <div class="col-5">
            <h5 class="font-weight-light text-center ">Project</h5>
            <p class="text-justify">
                This blog had been created to learn ASP.Net core using MVC and Entity Framework.
                Both app and data are on azure portal. The code is available .
            </p>
        </div>
        <div class="col-2">
            <h5 class="font-weight-light text-center ">Links:</h5>
            <hr class="solid" />
            <a href="https://www.linkedin.com/in/micha%C5%82-suszek-99105913b/">Linked In</a><br />
            <a href="https://github.com/CaptainSuszkow">Github</a>
        </div>
    </div>
</div>
