@model IEnumerable<SuszkowBlog.Models.Post>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello there</h1>
    <p>Welcome to my blog. I am Suszkow a developer of this site. Right now the page is under construction so be patient.</p>
</div>
@foreach (var item in Model)
{
    <h2 class="font-weight-light text-center">@item.Title</h2>
    <div class="font-weight-lighter">
        <div class="col-sm-3 font-weight-lighter">Published: @item.CreateOn</div>
    </div>
    <hr class="solid" />
    <p class="text-justify">@item.Content</p>
    <hr class="dashed" />
    @*<form asp-controller="Home" asp-action="AddComment"
              asp-route-id="@item.ID" method="get">
            <button type="submit" class="btn btn-primary">
                Comment
            </button>
        </form>*@
}
