@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello there</h1>
    <p>Welcome to my blog. I am Suszkow a developer of this site. Right now the page is under construction so be patient.</p>
</div>
